<ul class="list-group ">
    <li *ngFor="
    let album of albumList;
    let i = index;
    let isFirst = first;
    let isLast = last;
    let isEven = even;" 
    
    class="list-group-item d-flex justify-content-between"  [ngClass]="{'list-group-item-success': isFirst}">
   
        <span class="text-primary"> {{i+1}}. </span>
        <span>{{album.name}} - {{album.author}}</span>
        <button class="btn btn-sm btn-danger" (click)="onDeleteAlbum(album.id)">X</button>
        
    </li>
</ul>